.DS_Store
service_account.json
*.json # redundant, but the API key should really be its own line anyway just in case
/problems.txt
*chache*
/__pycache__/
poetry.lock
*cache* 
*.svg # for profile outputs
